<div id="submitPet_page" class="content_wrapper">
	<!-- <div id="submitWrapper" class="pet_scroll_wrapper scroll_wrapper">
	 	<div id="scroller">-->
			<div id="submit_pet" class="palette" style="margin-top:60px;margin-bottom:250px">
				<div id="pet-preview" class="pet_preview" ></div>
				<div id="retake-pet" class="wide_button red_button active_opacity">Retake Pic</div>
				<form id="pet-form">
					<div class="label">Animal Name</div>
					<input id="pet_name" type="text" name="pet_name" />
					<div class="form_friends form_friends1">
						<div class="label">Type</div>
						<input type="radio" id="dog" value="Dog"><div class="radio_label">Dog</div>
						<input type="radio" id="cat" value="Cat"><div class="radio_label">Cat</div>
						<input type="radio" id="bird" value="Bird"><div class="radio_label">Bird</div>
						<input type="radio" id="rabbit" value="Rabbit"><div class="radio_label">Rabbit</div>
						<div class="clear"></div>
						<select id="petType" name="pet_type" style="display:none">
							<option value="Dog">Dog</option>
				  		<option value="Cat">Cat</option>
				  		<option value="Bird">Bird</option>
				  		<option value="Rabbit">Rabbit</option>
						</select>
					</div>
					<div class="form_friends form_friends1">
						<div class="label">Age</div>
						<input type="text" name="pet_age" min="0" max="100" placeholder="In years" />
					</div>
					
					<div class="clear"></div>
					<div class="label">Three words that describe this pet</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description1" placeholder="Word 1" />
					</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description2" placeholder="Word 2" />
					</div>
					<div class="form_friends form_friends1" style="height:35px">
						<input type="text" name="pet_description3" placeholder="Word 3" />
					</div>
					<div class="clear"></div>
					<div class="label">Shelter Name</div>
					<input type="text" name="shelter_name" />
					<div class="label">Street Address</div>
					<input type="text" name="shelter_address" />
					<div class="label">City</div>
					<input type="text" name="shelter_city" />
					<div class="form_friends form_friends2">
						<div class="label">State</div>
						<input type="text" name="shelter_state" style="text-transform:uppercase" maxlength="2" />
					</div>
					<div class="form_friends form_friends3">
						<div class="label">Zip Code</div>
						<input type="text" name="shelter_zip" />
					</div>
					<div class="clear"></div>
					
					<input id="pet-submit" type="submit" name="submit_pet" class="login_button active_opacity" value="Submit" />
				</form>
			</div>
		<!--</div>
	</div>-->
</div>